player-connection-mode=Listen
player-connection-guid=1738904061
player-connection-debug=0
player-connection-project-name=VR_Bang
player-connection-ip=211.197.207.92
player-connection-ip=192.168.126.1
player-connection-ip=192.168.127.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
